@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar-inverse {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  color: #1fa67a;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 30px;
  font-weight: bold;
}

#logo:hover {
  color: #404040;
  text-decoration: none;
}
